header.header
    .container
        .header_container
            button.burger.hidden-desktop(data-burger-header)
                span.burger_open
                span.burger_close
            a(href="#").button.header_button.hidden-mobile Заказать замер
            span.header_logo.hidden-desktop Logo
            a(href="#").cart
                img(src="img/svg/cart.svg", alt="cart").cart_img
                span.cart_number 3
