.swiper.main-slider(data-single-slide-slider)
    .swiper-wrapper
        .swiper-slide(style={'background-image': 'url(img/main-slider.jpg)'})
            .container
                h2.main-slider_title Купите
                    br
                    span.main-slider_title-bold.italic что-то
                    br
                    | и еще
                    span.main-slider_title-bold.italic  шторы
                p «Lorem» — производитель изделий для внутренней и внешней lorem
                a(href="#").button.button--white.main-slider_button калькулятор
        .swiper-slide(style={'background-image': 'url(img/main-slider.jpg)'})
            .container
                h2.main-slider_title Купите
                    br
                    span.main-slider_title-bold.italic что-то
                    br
                    | и еще
                    span.main-slider_title-bold.italic  шторы
                p «Lorem» — производитель изделий для внутренней и внешней lorem
                a(href="#").button.button--white.main-slider_button калькулятор
        .swiper-slide(style={'background-image': 'url(img/main-slider.jpg)'})
            .container
                h2.main-slider_title Купите
                    br
                    span.main-slider_title-bold.italic что-то
                    br
                    | и еще
                    span.main-slider_title-bold.italic  шторы
                p «Lorem» — производитель изделий для внутренней и внешней lorem
                a(href="#").button.button--white.main-slider_button калькулятор
    .container
        .slider_buttons-container
            .slider_buttons
                button.swiper-button-prev.slider_button.slider_button--prev.hidden-mobile(data-single-slder-prev)
                    img(src="img/svg/prev.svg", alt="prev slide")
                .swiper-pagination.slider_pagination(data-single-slide-pagination)
                button.swiper-button-next.slider_button.slider_button--next.hidden-mobile(data-single-slder-next)
                    img(src="img/svg/next.svg", alt="prev slide")

