mixin nav(classNames)
    nav.nav(class= classNames)
        a(href="#").nav_link
            img(src="img/svg/roll.svg", alt="roll").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link
            img(src="img/svg/roll-round.svg", alt="roll-round").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link
            img(src="img/svg/lattice.svg", alt="lattice").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link
            img(src="img/svg/plisse.svg", alt="plisse").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link
            img(src="img/svg/electric.svg", alt="electric").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link
            img(src="img/svg/outside.svg", alt="outside").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link
            img(src="img/svg/photo-print.svg", alt="photo-print").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link
            img(src="img/svg/drill.svg", alt="drill").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link
            img(src="img/svg/settings.svg", alt="settings").nav_icon
            span.nav_title Lorem
        a(href="#").nav_link.nav_link--burgundy
            img(src="img/svg/calc.svg", alt="settings").nav_icon
            span.nav_title Lorem
