section.popular.content
    .container
        h2.title.title--xxl.italic Популярное
        .popular_content
            .popular_grid
                .popular_item
                    h3.popular_item-title.italic
                        |Москитные
                        span.fw-300  сетки
                    img(src="img/image-17.jpg", alt="").popular_item-img
                .popular_item
                    h3.popular_item-title.fw-300 Lorem
                    img(src="img/image-25.jpg", alt="").popular_item-img
                .popular_item
                    h3.popular_item-title.italic Lorem
                    img(src="img/image-16.jpg", alt="").popular_item-img
                .popular_item
                    h3.popular_item-title.fw-300 Lorem
                    img(src="img/image-18.jpg", alt="").popular_item-img
